<configuration>
  <packageSources>
    <clear />
    <add key="Invenietis - Release" value="https://www.myget.org/F/invenietis-release/api/v3/index.json" />
    <add key="INTECH - Release" value="https://www.myget.org/F/intechinfo-release/api/v3/index.json" />
    <add key="INTECH - Preview" value="https://www.myget.org/F/intechinfo-preview/api/v3/index.json" />
    <add key="INTECH - CI" value="https://www.myget.org/F/intechinfo-ci/api/v3/index.json" />
  </packageSources>
</configuration>
